- content_for :page_scripts do
  :plain
    document.observe("dom:loaded", function(){
      var site_form = $("multisite-navigation");
      var site_select = $("multisite-select");
      var site_form_action = $("multisite-submit");
      if (!site_form || !site_select || !site_form_action) return;
      console.log('foo');
      site_form_action.hide();
      site_select.observe("change", function(e, site_form){
        site_form.submit();
      }.bindAsEventListener(this, site_form));
    });

- if @homepage
  #actions
    - form_tag '/admin/pages', :id => 'multisite-navigation', :method => :get do
      %ul
        %li
          %a
            %label{:for => :root} View site: 
            = select_tag :root, options_from_collection_for_select(Site.all, :homepage_id, :name, params[:root].to_i), :id => 'multisite-select'
            = submit_tag 'Go', :id => "multisite-submit"